body {
	background: #372FBF;
}

.content {
	max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.95;
	padding-top: 20vh;
}

img {
	width: 155px;
	height: 156px;
	margin-left: 23px;
}

p {
    font-family: Raleway;
    font-size: 23px;
    color: white;
}

h1 {
	font-family: Raleway;
	font-size: 40px;
	color: white;
	margin-top: -18px;
}

.start-button {
	width: 327px;
	height: 42px;
	color: #432C81;
	background-color: white;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	opacity: 0.95;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	margin-top: 15vh;
}

.start-button:hover {
	color: white;
	background-color: #A09DDD;
}

a {
	text-decoration: none;
}